@font-face {
    font-family: 'CookieRunRegular';
    src: url('/font/CookieRun Regular.otf') format('opentype');
}

@font-face {
    font-family: 'CookieRunBold';
    src: url('/font/CookieRun Bold.otf') format('opentype');
}

@font-face {
    font-family: 'CookieRunBlack';
    src: url('/font/CookieRun Black.otf') format('opentype');
}
.font-cookie-bold {
    font-family: 'CookieRunBold';
}

.font-cookie-black {
    font-family: 'CookieRunBlack';
}

.font-cookie-regular {
    font-family: 'CookieRunRegular';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#horizontal-scroll {
    display: flex;
    width: 300vw;
    height: 100vh;
    transition: transform 0.5s ease;
}

.page {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover; /* 또는 contain, 원하면 값 조절 가능 */
    background-position: center center;
}

/* 각 페이지에 다른 이미지 설정 */
.page1 {
    background-image: url("/img/main.jpg");
}

.page2 {
    background-image: url("/img/main.jpg");
}

.page3 {
    background-image: url("/img/main.jpg");
}
.page4{
    background-image: url("/img/joinForm.jpg");
}
@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-down {
    animation: fade-in-down 0.8s ease-out forwards;
}

.animate-fade-in-up {
    animation: fade-in-up 0.8s ease-out forwards;
}

.delay-300 {
    animation-delay: 0.3s;
}

.delay-700 {
    animation-delay: 0.7s;
}

